In [1]:
# Author: Henrique Mauler Borges

In [48]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import re
from wordcloud import STOPWORDS
from collections import defaultdict
import text_hammer as th

In [8]:
train_data = pd.read_csv('train.csv').loc[:,['id','text','target']]
test_data = pd.read_csv('test.csv').loc[:,['id','text']]

In [11]:
test_data.head()

   id                                               text
0   0                 Just happened a terrible car crash
1   2  Heard about #earthquake is different cities, s...
2   3  there is a forest fire at spot pond, geese are...
3   9           Apocalypse lighting. #Spokane #wildfires
4  11      Typhoon Soudelor kills 28 in China and Taiwan

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(train_data.loc[:,'text'],train_data.loc[:,'target'],
                                                    test_size = 0.3)

In [18]:
from nltk import word_tokenize
from nltk import WordNetLemmatizer

In [52]:
from nltk import word_tokenize          
from nltk.stem import WordNetLemmatizer 
class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()
    def __call__(self, articles):
        return [self.wnl.lemmatize(t) for t in word_tokenize(articles)]

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english' , ngram_range=(1,1),tokenizer=LemmaTokenizer())

In [31]:
vectorizer.fit(x_train)
#vectorizer.get_feature_names_out()
x_train=vectorizer.transform(x_train)
x_test=vectorizer.transform(x_test)
test_vectors = vectorizer.transform(test_data["text"])

In [33]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(x_train, y_train)

In [34]:
predict = clf.predict(x_test)

In [36]:
from sklearn.metrics import accuracy_score , confusion_matrix
accuracy_score(y_test,predict)

0.7863397548161121

In [44]:
# Limpeza dos dados
from copy import copy

In [46]:
def text_preprocessing_from_hammer(df,col_name):
    df = copy(df)
    column = col_name
    df[column] = df[column].apply(lambda x:str(x).lower())
#     df[column] = df[column].progress_apply(lambda x: th.cont_exp(x)) #you're -> you are; i'm -> i am
    df[column] = df[column].apply(lambda x: th.remove_emails(x))
    df[column] = df[column].apply(lambda x: th.remove_html_tags(x))
#     df[column] = df[column].progress_apply(lambda x: ps.remove_stopwords(x))
    df[column] = df[column].apply(lambda x: th.remove_special_chars(x))
    df[column] = df[column].apply(lambda x: th.remove_accented_chars(x))
#     df[column] = df[column].progress_apply(lambda x: th.make_base(x)) #ran -> run,
    return df

In [41]:
train_data.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

In [49]:
data_for_training_hammed = text_preprocessing_from_hammer(train_data,'text')

In [50]:
data_for_training_hammed.head()

   id                                               text  target
0   1  our deeds are the reason of this earthquake ma...       1
1   4              forest fire near la ronge sask canada       1
2   5  all residents asked to shelter in place are be...       1
3   6  13000 people receive wildfires evacuation orde...       1
4   7  just got sent this photo from ruby alaska as s...       1

In [51]:
x_train, x_test, y_train, y_test = train_test_split(data_for_training_hammed.loc[:,'text'],data_for_training_hammed.loc[:,'target'],
                                                    test_size = 0.3)

In [54]:
vectorizer.fit(x_train)
#vectorizer.get_feature_names_out()
x_train=vectorizer.transform(x_train)
x_test=vectorizer.transform(x_test)
test_vectors = vectorizer.transform(test_data["text"])

C:\Users\henri_m9qs9bn\miniconda3\envs\kaggle\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
C:\Users\henri_m9qs9bn\miniconda3\envs\kaggle\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn(

In [55]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(x_train, y_train)

In [56]:
predict = clf.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score , confusion_matrix
accuracy_score(y_test,predict)

0.8077933450087565